<div class="container">
  <h1>User Profile</h1>
  <div class="row">
    <div class="span6 offset3">
      <%= form_for(@user, :url => update_user_url) do |u| %>
        <div class="row">
          <%= u.label :name, class: "col-sm-4"%>
          <%= u.text_field :name, class: "col-sm-3" %>
        </div>
        <div class="row">
          <%= u.label :email, class: "col-sm-4"  %>
          <%= u.text_field :email, class: "col-sm-3"  %>
        </div>

        <div class="row">
          <%= u.label :password, class: "col-sm-4"  %>
          <%= u.password_field :password, class: "col-sm-3"  %>
        </div>

        <div class="row">
          <%= u.label :password_confirmation, class: "col-sm-4"  %>
          <%= u.password_field :password_confirmation, class: "col-sm-3"  %>
        </div>

        <%= u.submit "Save", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>