<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>FinancialCalculator</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <a class="navbar-brand" href="/">Free Debt Reducer</a>
          <ul class="nav navbar-nav">
						<li class=<%= 'active' if params[:controller] == 'welcome' %>><a href="/">Home</a></li>
            <% if signed_in? %>
              <li class=<%= 'active' if params[:controller] == 'calculation' %>><%= link_to("Calculate", calculate_path) %></li>
            <% end %>
            <li class=<%= 'active' if params[:controller] == 'about' %>><a href="/about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if signed_in? %>
              <!-- <li><%= link_to("Calculate", calculate_path) %></li> -->
              <li><%= link_to("Logout", signout_path, method: :delete) %></li>
            <% else %>
              <li><%= link_to("Sign Up / Login", signin_path) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <div id="content">
      <!-- <div class="container"> -->
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end%>
        <%= yield %>
      <!-- </div> -->
      <div id="push"></div>
    </div>

    <footer>
      <div class="container">
        <p class="muted credit">Here is the footer</p>
      </div>
    </footer>
  </body>
</html>
